.button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button.green {
    background-color: #28a745;
}

.konten {
    border: 2px dotted chocolate;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    background-color: coral;
    padding: 12px;
}

.konten > div {
    background-color: skyblue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    padding: 3em;
    border: 3px solid black;
}

.sidebar-page {
    grid-column: 1/2;
    grid-row: 1/5;
}

.hero {
    grid-column: 2/4;
    grid-row: 2/4;
    margin: 20px;
}

.atas-kiri {
    grid-column: 1/2;
}

.atas-tengah {
    grid-column: 2/2;
}

.atas-kanan {
    grid-column: 3/3;
}

.konten-utama {
    grid-column: 1/4;
}

.bawah-kiri {
    grid-column: 1/2;
}

.bawah-tengah {
    grid-column: 2/3;
}

.bawah-kanan {
    grid-column: 3/4;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    gap: 16px;
  }
  
  .sidebar {
    grid-column: span 3;
    display: grid;
    grid-template-rows: repeat(3, auto);
    gap: 16px;
    height: 475px;
    background-color: lightgray;
    text-align: center;
    color: black;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: green;
    padding: 10px;
  }
  
  .logo {
    color: white;
    font-size: 24px;
  }
  
  .menu {
    flex-grow: 1;
    text-align: center;
  }
  
  .menu a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
  }
  
  .login a {
    color: white;
    text-decoration: none;
  }  
  
  .main-content {
    grid-column: span 9;
    background-color: lightgrey;
    text-align: center;
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Template kolom seperti sebelumnya */
    gap: 16px;
    height: 475px;
    text-align: center;
    color: black;
  }
  
  .footer {
    grid-column: span 12;
    background-color: lightgrey;
    padding: 16px;
    text-align: center;
    text-align: center;
    color: black;
  }
  
  .button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    text-align: center;
  }

@media screen and (min-width: 767px){
  .container{
    width: 540px;
  }
}
@media screen and (min-width: 768px){
  .container{
    width: 1023px;
  }
}
@media screen and (min-width: 1024px){
  .container{
    width: 1355px;
  }
}

@media screen and (min-width: 50px) and (max-width: 780px) {
  body {
    font-size: 16px;
    background-color: #F8F8F8;
  }
}

@media  screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    background-color: #F8F8F8;
  }
}

@media screen and (min-width: 1024px) {
  body {
    background-color: #F8F8F8;
  }
}

