.galleryContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: flex-start;
}

.galleryImage {
    width: 30%;
    height: auto;
    max-width: 500px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.galleryImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.galleryImage:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.galleryImageLarge {
    max-width: 500px;
    height: 200px;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.galleryImageLarge img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.galleryImageLarge:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.galleryContainer {
    display: flex;
    flex-direction: column; /* Ensures the images and containers stack vertically */
    align-items: left;    /* Centers the content horizontally */
}

/* Styling for the images */
.galleryImage {
    margin-bottom: 20px; /* Adds space between image and the next element */
}